@charset "UTF-8";

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url(../font/Lato-Regular.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url(../font/Lato-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url(../font/Lato-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-one: #34302f;
  --color-two: #fff;
  --color-three: #eb5441;
  --border-radius: 10px;
  --font-family-main: "Lato";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--color-one);
  line-height: 1;
  font-family: var(--font-family-main);
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--font-family-main);
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 2;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

section {
  padding: 50px 0;
}

.button {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
}

.button__white {
  color: var(--color-one);
  background-color: var(--color-two);
}

.button__black {
  color: var(--color-two);
  background-color: var(--color-one);
}

.menu-open .menu__nav {
  top: 0;
  z-index: 10;
}

.privacy,
.terms {
  line-height: 1.5;
}

.privacy h1,
.terms h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.privacy h2,
.terms h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.privacy h3,
.terms h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.privacy p,
.terms p {
  margin-bottom: 10px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo {
  width: 100px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__button {
  margin-left: 50px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
}

.icon-menu {
  display: none;
}

.footer__body {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__logo {
  width: 100px;
}

.footer__logo img {
  width: 100px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
}

.footer__address {
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}

.main {
  position: relative;
  background: url(../img/main.jpg) center center no-repeat;
  background-size: cover;
}

.main::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.main__body {
  position: relative;
  max-width: 700px;
  padding: 40px 30px;
}

.main__body::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
  border-radius: var(--border-radius);
}

.main__title {
  position: relative;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 30px;
}

.main__subtitle {
  position: relative;
  font-weight: 22;
  line-height: 1.75;
}

.main__button {
  position: relative;
}

.about {
  padding: 50px 0;
  background-color: var(--color-one);
  color: var(--color-two);
}

.about__white {
  background-color: var(--color-two);
  color: var(--color-one);
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.about__img {
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 700px;
  height: 700px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 30px;
}

.about__desc {
  font-size: 22px;
  line-height: 2;
}

.about__button {
  font-size: 24px;
  margin-top: 25px;
}

.rates__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.rates__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.rates__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 40px 30px;
  background-color: var(--color-one);
  color: var(--color-two);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.rates__item:nth-child(1)::before {
  content: "";
  background: url("../img/rates-1.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px) brightness(0.4);
          filter: blur(3px) brightness(0.4);
  border-radius: var(--border-radius);
}

.rates__item:nth-child(2)::before {
  content: "";
  background: url("../img/rates-2.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px) brightness(0.4);
          filter: blur(3px) brightness(0.4);
  border-radius: var(--border-radius);
}

.rates__item:nth-child(3)::before {
  content: "";
  background: url("../img/rates-3.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px) brightness(0.4);
          filter: blur(3px) brightness(0.4);
  border-radius: var(--border-radius);
}

.rates__item-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.rates__item-desc {
  position: relative;
  font-size: 24px;
  line-height: 1.75;
  margin-bottom: 20px;
  text-align: center;
}

.rates__item-price {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: var(--color-three);
  padding: 10px 30px;
  background-color: var(--color-two);
  border-radius: var(--border-radius);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.section-form {
  background-color: var(--color-one);
  color: var(--color-two);
}

.section-form__body {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.section-form__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.section-form__title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-three);
  display: block;
  width: 300px;
  margin: 20px auto 30px auto;
}

.section-form__subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  border-radius: var(--border-radius);
  color: var(--color-two);
}

.form__input {
  width: 100%;
  border-radius: var(--border-radius);
  font-size: 22px;
  padding: 20px 20px;
  color: var(--color-one);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-one);
}

.form__input::-moz-placeholder {
  color: var(--color-one);
}

.form__input:-ms-input-placeholder {
  color: var(--color-one);
}

.form__input::-ms-input-placeholder {
  color: var(--color-one);
}

.form__input::placeholder {
  color: var(--color-one);
}

.form__input:focus {
  outline: 2px solid var(--color-three);
}

.form__checkbox {
  font-size: 22px;
  margin: 0 auto;
}

.form__checkbox-input {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.form__submit {
  padding: 15px 100px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px;
  background-color: var(--color-one);
  color: var(--color-two);
  border-radius: var(--border-radius);
}

.reviews__img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

.reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.reviews__text {
  padding: 0 100px 0 0;
}

.reviews__heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.reviews__desc {
  font-size: 22px;
  line-height: 1.75;
}

.map__body {
  position: relative;
}

.map__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.map__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.map__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.map__text {
  position: relative;
  width: 40%;
  margin: 0 0 0 auto;
  padding: 60px 40px 80px 30px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.map__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-one);
  opacity: 0.9;
}

.map__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}

.map__item {
  color: var(--color-three);
}

.map__item a {
  color: var(--color-two);
}

@media (max-width: 77.49875em) {
  .main__title {
    font-size: 40px;
  }

  .about__img {
    width: 500px;
  }

  .about__title {
    font-size: 32px;
  }

  .rates__body {
    gap: 20px;
  }

  .map__list {
    font-size: 28px;
  }
}

@media (max-width: 61.99875em) {
  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__button {
    margin-left: auto;
  }

  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-two);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }

  .menu__link {
    font-size: 28px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    z-index: 50;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #202020;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__body {
    padding: 20px 30px;
  }

  .main__title {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .about__img {
    width: 300px;
    height: unset;
  }

  .about__title {
    font-size: 30px;
  }

  .about__desc {
    font-size: 20px;
  }

  .rates__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rates__item-title {
    font-size: 36px;
  }

  .rates__item-desc {
    font-size: 28px;
    padding: 0 30px;
  }

  .reviews__text {
    padding: 0;
  }

  .map__text {
    width: 50%;
  }

  .map__list {
    font-size: 26px;
  }
}

@media (max-width: 47.99875em) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__contacts {
    margin-left: auto;
  }

  .footer__address {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__img {
    width: 100%;
    height: 400px;
  }

  .about__title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .about__desc {
    font-size: 18px;
  }

  .section-form__title {
    font-size: 28px;
  }

  .form {
    padding: 10px 0 0 0;
  }

  .reviews__item {
    padding: 30px 20px;
  }

  .reviews__heading {
    font-size: 22px;
  }

  .reviews__desc {
    font-size: 18px;
  }

  .map__text {
    padding: 30px 20px;
    width: 60%;
  }

  .map__list {
    font-size: 20px;
  }
}

@media (max-width: 29.99875em) {
  .header__button {
    display: none;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts {
    margin-left: unset;
  }

  .main__body {
    padding: 15px;
  }

  .main__title {
    font-size: 24px;
    font-weight: 600;
  }

  .main__subtitle {
    font-size: 18px;
  }

  .about__title {
    font-size: 24px;
  }

  .rates__item-title {
    font-size: 30px;
  }

  .rates__item-desc {
    font-size: 22px;
    padding: 0;
  }

  .form__checkbox {
    margin: unset;
  }

  .form__submit {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }

  .reviews__img {
    margin-right: unset;
    margin-bottom: 20px;
  }

  .map__text {
    width: 100%;
  }
}